MONGO_URI=
AUTH_SECRET=
AUTH_URL=http://localhost:3000
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
BKASH_APP_KEY=
BKASH_APP_SECRET=
BKASH_USERNAME=
BKASH_PASSWORD=
NEXT_PUBLIC_ADMIN_EMAIL=
NEXT_PUBLIC_BASE_URL=http://localhost:3000
UNSPLASH_ACCESS_KEY=
